@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    font-size: 14px
}
body{
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Playpen Sans', cursive;
    /* color:#162950 */
}

.brand-icon{
    /* background-size:50%; */
    background-position:0px -3px;
}


@media(min-width:768px){
    :root{
        font-size: 16px;
    }
    #about-me .small-talk {
        font-size:.85rem
    }
    #projects .desc{
        padding-left:4rem;
        padding-right:4rem;
        font-size:.85rem;
        line-height:1.2rem;

    }


}
@media(min-width:640px){
    #projects .desc{
        /* padding-left:4rem;
        padding-right:4rem;
        font-size:.85rem;
        line-height:1.2rem; */

    }
}

@media(min-width:780px){
    #projects .desc{
        padding:2rem .5rem;
        max-width:200px
        /* font-size:.85rem;
        line-height:1.2rem; */

    }
}


::view-transition-old(root){
    /* position: relative; */
    z-index: 10;
    animation: slide-out 0.5s forwards;
    /* transition: top 0.5s; */
    
}

::view-transition-new(root) {
    /* position: absolute; */
    animation: slide-in 0.5s forwards;
    /* transition: top 0.5s; */
    
}


@keyframes slide-in{
  0%   { top:0 }
  /* 50%  { top: -50%  } */
  100% { top: 0  }
}


@keyframes slide-out {
  from { top:0 }
  to  { top: 100%  }
}
